html{
    font-family: Helvetica, sans-serif;
    padding: 40px;
}
h1{
    display: inline-block;
    

}

li{
    display: inline-block;
    padding-left: 30px;
    list-style: none;
    color: green;
    
}
nav{
    display: inline-block;
   
}

header{
    border-bottom: 2px solid black;
}
a{
    color: green;
}