body{
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    border-bottom: 4px solid black;
    width: 100%;
} 
header h1{
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 24px;
}
main{
    padding: 24px;
}
footer{
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    padding-left: 24px;
}